html, body {
	height: 100%;
}

h1 {
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body { 
	font-weight: 300;
	font-size: 16px;
	color: #555;
	-webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;
	line-height: 1.4;
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #4abcc5;
	word-wrap: break-word;
	-webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
	-moz-transition: color 0.1s ease-in, background 0.1s ease-in;
	-ms-transition: color 0.1s ease-in, background 0.1s ease-in;
	-o-transition: color 0.1s ease-in, background 0.1s ease-in;
	transition: color 0.1s ease-in, background 0.1s ease-in;
	text-decoration: none;
}

.block1:hover {
	background-color: white;
}

.block2:hover {
	background-color: white;
}

.block3:hover {
	background-color: white;
}

.block4:hover {
	background-color: white;
}

.block5:hover {
	background-color: white;
}

.block6:hover {
	background-color: white;
}

.block7:hover {
	background-color: white;
}

.centered {
	text-align: center;
}

.nav {
	padding: 16px 32px;	
}

.navbar-inverse {
background: url(../img/white.jpg) no-repeat;
background-size: 100%;
padding: 25px 0px;
}

#headerwrap {
	
	margin-top: -20px;
	padding-top: 40px;
	text-align: center;
	background-attachment: relative;
	background-position: center center;
	min-height: 850px;
	width: 100%;	
	-webkit-background-size: 100%;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 100px;
}

#headerwrap h2 {
	color: #000000;
	font-size: 50px;
	font-weight: 400;
	text-align: center;
	letter-spacing: 3px;
}

#headerwrap p {
	color: #fff;
	font-size: 22px;
	font-weight: 300;
	text-align: center;
	letter-spacing: 1px;
	color:#000000;
}

#temperature {
    background: url(../img/temp.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
	padding: 50px 0px;
	color: #ffffff;
}

#humidity {
    background: url(../img/humidity.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
	padding: 50px 0px;
	color: #ffffff;
}

#air_quality {
    background: url(../img/airqual.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
	padding: 50px 0px;
	color: #ffffff;
}

#connected_device {
    background: url(../img/connected_device.jpg) no-repeat;
    background-size: 100%;
    background-position: center;
	padding: 50px 0px;
	color: #ffffff;
}

#location {
	background: url(../img/business-location-youth-village.jpg) no-repeat;
	background-size: 100%;
	background-position: center;
	padding: 50px 0px;
	color: #ffffff;
}

#latency {
	background: url(../img/latency.jpg) no-repeat;
	background-size: 100%;
	background-position: center;
	padding: 50px 0px;
	color: #FFFFFF;
}

